/* restear los estilos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Insercion de fuentes locales */

@font-face {
    font-family: "grandeItalic";
    src: url("../fonts/Grande\ Italic.ttf");
}

@font-face {
    font-family: "garetbook";
    src: url("../fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "garetheavy";
    src: url("../fonts/Garet-Heavy.ttf");
}

@font-face {
    font-family: "hs";
    src: url("../fonts/High\ Spirited.ttf");
}

/* Estilos para el INDEX */
/*Estilo para el header*/
.barra__header--i {
    top: 0;
    background-color: rgb(213, 197, 199);
    z-index: 1;
    height: 7rem;
    border-bottom: 3px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logoin {
    height: calc(7.2rem - 3px);
    width: auto;
    display: flex;
    justify-items: start;
}

.barra__header--menu {
    margin-bottom: 1.2vh;
    margin-right: 0.3vw;
}

/*menu desplegable*/
#check,
.checkbtn {
    display: none;
}

.barra__header--menu ul {
    display: flex;
    justify-content: end;
}

.barra__header--menu ul li {
    list-style-type: none;
}

.barra__header--menu ul li a {
    margin: 0 1.2vw;
    text-align: center;
    text-decoration: underline bottom;
    color: gray;
    font-size: 2.2rem;
    font-family: garetbook;
}

/* Estilos para el main */

.index__main {
    background-color: white;
    border-bottom: 3px solid grey;
}

.carousel-item {
    height: 400px;
}

.imgmain {
    height: 400px;
    width: 650px;
}

/*Estilo para el footer*/

.rfooter {
    background-color: rgb(213, 197, 199);
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vw;
    padding-top: 1.2vw;
}

.footer__titulo {
    font-family: garetbook;
    display: flex;
    align-items: end;
}

.footer__titulo a,
.footer__titulo a:link,
.footer__titulo a:visited {
    text-decoration: none;
    color: gray;
}

.rfooter__iconos {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}

.rfooter__iconos figure img {
    height: 1.25rem;
    width: 1.25rem;
}

/*_______________________________________________________________________________*/

/*Animaciones para el head*/
.animar:hover {
    animation-name: bounce;
    animation-duration: 2s;
}


/*_______________________________________________________________________________*/

/* Query para celulares */

@media screen and (max-width:479px) {

    /* Estilos para el INDEX */
    /* Estilos para el header */


    .barra__header--i {
        height: 5rem;
        justify-content: space-between;
        align-items: center;
    }
    /* Estilos para el main */

    .index__main {
        width: 100vw;
        height: 70vh;
    }

    .imgmain {
        height: 69.5vh;
        width: 100vw;
    }
    

    /* Estilos para el footer */

    .rfooter {
        align-self: center;
        margin-right: 0;
        height: auto;
    }

    .footer__titulo {
        font-size: 7vw;
    }

    .footer__titulo a,
    .footer__titulo a:link,
    .footer__titulo a:visited {
        text-decoration: none;
        color: gray;
    }

    .footer__iconos {
        margin-top: 1vh;
        display: flex;
        justify-content: space-evenly;
    }

    .footer__iconos figure img {
        height: 6vw;
        width: 6vw;
    }

    /* Estilos para el resto de headers */

    .barra__header {
        height: 5rem;
        justify-content: space-between;
        align-items: center;
    }

    .barra__header--titulo a img {
        height: calc(5rem - 3px);
    }

    .barra__header--menu {
        padding-top: 1rem;
        margin-right: 1vw;
    }

    .checkbtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 1vw;
    }

    .checkbtn img {
        height: 2.5rem;
    }

    .barra__header--menu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        left: 500vw;
        top: 5rem;
        width: 100vw;
        height: 40vh;
        text-align: center;
        transition: all .4s ease-in-out;
        background-color: rgb(213, 197, 199);
        z-index: 1;
    }

    #check:checked~ul {
        left: 0;
    }

    .barra__header--menu ul li a {
        text-transform: uppercase;
        font-weight: bolder;
        text-decoration: none;
        font-size: 7vw;
    }

    /* Estilos para el resto de footers */

    .rfooter {
        height: 5.5rem;
        display: flex;
        align-items: center;
        padding-right: 0;
        padding-top: 1.5vw;

    }

    .rfooter__iconos {
        width: 45vw;
    }

    /* Estilos para la página HOME */

    .h__main {
        grid-template-rows: 1fr 2.7fr;
    }

    .h__main--figure figcaption {
        font-size: 7vw;
        margin: 0;
    }

    .h__main--imagen {
        width: 100vw;
        border-radius: 0;
    }

    .h__main--texto {
        width: 95vw;
    }

    .h__main--texto h2 {
        font-size: 12.5vw;
    }

    .h__main--texto p {
        font-size: 3vw;
    }

}

/* Estilos para el HOME */

.home {
    background-color: white
}




/* Estilos para el HOME MAIN */

.home__main {
    position: relative;
    top: 0;
    background-color: white;
    border-bottom: 3px solid grey;
    overflow: hidden;
}

.h__main {
    position: relative;
    top: 0;
    left: 0;
    margin: 80px 0 20px 0;
    height: 450px;
    background-color: rgb(205, 158, 155);
    box-shadow: 1px 5px 25px rgb(213, 197, 199);
}

.h__main--imagen {
    position: relative;
    top: 12.5px;
    left: 0;
    margin: 10px 50px;
    height: 400px;
    width: auto;
    border-radius: 5%;
}

.h__main--texto {
    position: absolute;
    top: 150px;
    left: 800px;
    height: 800px;
    margin: 0 100px 0 0;
    border-radius: 5px;
    color: white;
}

.h__main--texto h2 {
    font-family: hs;
    font-size: 57px;
}

.h__main--texto h3 {
    font-family: hs;
    font-size: 57px;
}

.h__main--texto h4 {
    font-family: hs;
    font-size: 57px;
}

.h__main--texto p {
    text-align: justify;
    font-family: garetbook;
    font-size: 15px;
    line-height: 1.5;
}

.debajo {
    font-family: hs;
    font-size: 27px;
    color: white;
    margin: 0 60px;
}

.home__footer {
    position: relative;
    background-color: rgb(213, 197, 199);
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 117px;
}

.footer__titulohm {
    position: absolute;
    right: 100px;
    top: 25px;
    background-color: rgb(213, 197, 199);
    font-family: garetbook;
}

.footer__titulohm a,
.footer__titulohm a:link,
.footer__titulohm a:visited {
    text-decoration: none;
    color: gray;
}

/* Estilos para el NOSOTRAS*/
.n__main {
    position: relative;
    top: 0;
    background-color: white;
    border-bottom: 3px solid grey;
    overflow: hidden;
}

.n__main--uno {
    position: relative;
    top: 0;
    left: 0;
    margin: 80px 0 20px 0;
    height: 900px;
    background-color: rgb(205, 158, 155);
    box-shadow: 1px 5px 25px rgb(213, 197, 199);
}

.n__main--uno img {
    top: 12.5px;
    left: 0;
    margin: 10px 50px;
    height: 400px;
    width: auto;
    border-radius: 5%;
    text-align: right
}

.n__main--uno h1 {
    font-family: hs;
    font-size: 100px;
    top: 150px;
    margin: 0 100px 0 0;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.n__main--uno p {
    text-align: justify;
    font-family: garetbook;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

/* Estilos para el PRODUCTO*/
.p__main {
    position: relative;
    top: 0;
    background-color: white;
    border-bottom: 3px solid grey;
    overflow: hidden;
}

.p__main--dv {
    position: relative;
    top: 0;
    left: 0;
    margin: 80px 0 20px 0;
    height: 200px;
    background-color: rgb(205, 158, 155);
    box-shadow: 1px 5px 25px rgb(213, 197, 199);
}

.p__main--dv h1 {
    font-family: hs;
    font-size: 100px;
    top: 150px;
    margin: 0 100px 0 0;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.p__main--dv p {
    text-align: justify;
    font-family: garetbook;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

.p__mv {
    position: relative;
    top: 0;
    left: 0;
    margin: 80px 0 20px 0;
    height: 450px;
    background-color: gray;
    box-shadow: 1px 5px 25px rgb(213, 197, 199);
    text-align: center;
}

.video {
    top: 30px;
    left: 0;
    margin: 25px 70px;
    height: 400px;
    width: auto;
    text-align: right
}

/* Estilos para el CONTACTO*/

.cmain {
    position: relative;
    top: 0;
    background-color: gray;
    border-bottom: 3px solid white;
    overflow: hidden;
    height: 800px;
}

.cmain h1 {
    font-family: garetbook;
    font-size: 40px;
    top: 250px;
    margin: 25px 70px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.main__fa {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 10px;
}

.main__f {
    margin: 30px 0;
}

.main__f label,
textarea,
input {
    display: block;
    margin: 5px;
}

.main__f label {
    color: white;
    font-family: garetbook;
    font-size: 25px;
}

.main__input {
    height: 30px;
    width: 450px;
    color: rgb(213, 197, 199);
    font-family: garetheavy;
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
}

.main__men {
    width: 450px;
    height: 100px;
    color: rgb(213, 197, 199);
    font-family: garetheavy;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
}

.main__enviar,
.main__rees {
    display: inline-block;
}

.main__enviar,
.main__rees {
    border-radius: 3px;
    padding: 10px;
    font-family: garetbook;
    font-size: 20px;
    background-color: rgb(213, 197, 199);
}

.main__enviar:hover,
.main__rees:hover {
    box-shadow: 3px 3px 6px white;
}

/*----------------------------------------------------------------------------------------------------------------*/